<div class="bg">

  <div>
    <app-header></app-header>
  </div>
  <div >
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-dark text-center text-white"> 
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:	rgb(169,169,169)">
      © 2002 Copyright: ABC Telecom || Developed By: Khushboo Sharma || FSD JG Nov 2022 Cohort 3 
      <!-- <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
    </div> 
    <!-- Copyright -->
  </footer> 

</div>
 