<div class="row">
    <div class="col-md-12">

        <div class="card"style="background-color: aliceblue;">
            <div class="card-header"><h1>List of active users:</h1></div>
        </div>
        <div class="card-body" style="background-color: aliceblue;">
            <table class="table table-info">
                <tr style="text-align: center;">
                    <th style="padding: 5px;">Full Name</th>
                    <th style="padding: 5px;">Username</th>
                    <!-- <th style="padding: 5px;">Role</th> -->
                    <!-- <th style="padding: 5px;">Role Description</th> -->
                    <th style="padding: 5px;">Password</th>
                    <th style="padding: 5px;">Delete</th>
                </tr>

                <tr style="text-align: center;" *ngFor="let u of userinfo">
                    <td style="padding: 5px;">{{u.fullName}}</td>
                    <td style="padding: 5px;">{{u.userName}}</td>
                    <!-- <td style="padding: 5px;">{{u.roleName}}</td> -->
                    <!-- <td style="padding: 5px;">{{u.role.roleDescription}}</td>  -->
                    <td style="padding: 5px;">{{u.userpassword}}</td>
                    <td>
                      <button mat-icon-button aria-label="Delete icon" (click)="deleteUser(u.userName)"  color="warn">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

